<div class="modal fade borderer animated zoomIn" id="csharpModelModal" tabindex="-1" role="dialog"
     aria-labelledby="contactModalLabel">
    <div class="modal-dialog borderer" role="document" style="width: 45%">
        <div class="modal-content borderer">
            <div class="modal-header custom-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                        class="fa fa-close" style="color: azure"></i></button>
                <h4 class="modal-title" id="myModalTitle" style="color: azure">C-Sharp Model Snippet</h4>
            </div>
            <div class="modal-body borderer" style="height: auto">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <span class="snipCSClass">public class</span> <span class="snipCSNameS">UserModel</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left: 20px" class="snipCSClass">public int </span>Id { <span class="snipCSClass">get</span>; <span class="snipCSClass">set</span>; }
                        </td>
                    </tr>
                    <tr ng-include="'views/layout/code-snippets/c-sharp/br-tpl.html'"></tr>
                    <tr>
                        <td>
                            <span style="margin-left: 20px" class="snipCSClass">public string </span>Username { <span class="snipCSClass">get</span>; <span class="snipCSClass">set</span>; }
                        </td>
                    </tr>
                    <tr ng-include="'views/layout/code-snippets/c-sharp/br-tpl.html'"></tr>
                    <tr>
                        <td>
                            <span style="margin-left: 20px" class="snipCSClass">public string </span>Password { <span class="snipCSClass">get</span>; <span class="snipCSClass">set</span>; }
                        </td>
                    </tr>
                    <tr ng-include="'views/layout/code-snippets/c-sharp/br-tpl.html'"></tr>
                    <tr>
                        <td>
                            <span style="margin-left: 20px" class="snipCSClass">public string </span>PasswordHash { <span class="snipCSClass">get</span>; <span class="snipCSClass">set</span>; }
                        </td>
                    </tr>
                    <tr ng-include="'views/layout/code-snippets/c-sharp/br-tpl.html'"></tr>
                    <tr>
                        <td>
                            <span style="margin-left: 20px" class="snipCSClass">public string </span>Email { <span class="snipCSClass">get</span>; <span class="snipCSClass">set</span>; }
                        </td>
                    </tr>
                    <tr ng-include="'views/layout/code-snippets/c-sharp/br-tpl.html'"></tr>
                    <tr>
                        <td>
                            <span style="margin-left: 20px" class="snipCSClass">public bool </span>IsActive { <span class="snipCSClass">get</span>; <span class="snipCSClass">set</span>; }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            }
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <md-button style="font-weight: bold" type="button" class="customBtnDefault" data-dismiss="modal">Close <i class="fa fa-times"></i></md-button>
            </div>
        </div>
    </div>
</div>