<div class="modal fade borderer animated zoomIn" id="csharpCtrlModal" tabindex="-1" role="dialog"
     aria-labelledby="contactModalLabel">
    <div class="modal-dialog borderer" role="document">
        <div class="modal-content borderer">
            <div class="modal-header custom-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                        class="fa fa-close" style="color: azure"></i></button>
                <h4 class="modal-title" id="myModalTitle" style="color: azure">C-Sharp Controller</h4>
            </div>
            <div class="modal-body borderer" style="height: auto; width: auto">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            [<span class="snipCSNameS">Authenticate</span>]
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="snipCSClass">public class</span> <span class="snipCSNameS">HomeController</span> : <span class="snipCSNameS">Controller</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left: 20px; padding-right: 10px" class="snipHelp">// Action method called when url is the base + /home/index</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left: 20px" class="snipCSClass">public</span> <span class="snipCSNameS">ActionResult</span> Index()
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left: 20px">{</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left: 40px" class="snipCSClass">return</span> <span style="text-decoration: underline">View()</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="margin-left: 20px">}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            }
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <md-button style="font-weight: bold" type="button" class="customBtnDefault" data-dismiss="modal">Close <i class="fa fa-times"></i></md-button>
            </div>
        </div>
    </div>
</div>