<div class="registerSection1"></div>
<div class="container custom-bg reg-bg" style="height: auto" ng-controller="ForgotPasswordCtrl">
    <form ng-submit="sendData()" name="forgot" class="form-signin" novalidate>
        <h1 class="form-signin-heading" style="text-align: center; font-size: 30px; font-weight: bold; padding-top: 10px;">Forgot Password</h1>
        <hr>
        <div class="form-group">
            <label class="control-label">User Email</label>
            <input name="fromEmail" ng-model="fromEmail" type="email" class="form-control" placeholder="Email address" required autofocus>
            <p class="help-block" style="color: red" ng-show="forgot.fromEmail.$dirty && forgot.fromEmail.$invalid">Please Enter Proper Email Format</p>

        </div>
        <div class="form-group">
            <label class="control-label">Message</label>
            <textarea id="message" name="message" ng-model="message" rows="3" class="form-control" placeholder="Optional Message..."></textarea>
            <p id="textSpot"></p>
        </div>
        <div class="form-group pull-right">
            <button ng-disabled="forgot.$invalid" class="btn btn-md btn-primary" type="submit">
                Submit
            </button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function() {
        var max = 100;
        $('#textSpot').html(max + ' Characters Left!!!');

        $('#message').keyup(function() {
            var textLength = $('#message').val().length;
            var textLeft = max - textLength;

            $('#textSpot').html(textLeft + ' Characters Left!!!');
        });
    });
</script>