<div class="modal fade borderer animated zoomIn" id="angularServiceModal" tabindex="-1" role="dialog"
     aria-labelledby="contactModalLabel">
    <div class="modal-dialog borderer" role="document">
        <div class="modal-content borderer">
            <div class="modal-header custom-bg">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                        class="fa fa-close" style="color: azure"></i></button>
                <h4 class="modal-title" id="myModalTitle" style="color: azure">AngularJS Code Snippet</h4>
            </div>
            <div class="modal-body borderer" style="height: 400px">
                <h1 class="animated flash" style="font-size: 50px; font-weight: bold; text-align: center">COMING SOON!!!</h1>
            </div>
            <div class="modal-footer">
                <md-button style="font-weight: bold" type="button" class="customBtnDefault" data-dismiss="modal">Close <i class="fa fa-times"></i></md-button>
            </div>
        </div>
    </div>
</div>