<div class="panel panel-default boxShad">
    <div class="panel-heading headBlue">
        A Little Bit About Myself
    </div>
    <div class="panel-body">
        I have been in web development for about three years now and truly couldn't see myself doing
        anything else
        I have been blessed with the luxury of working around and with some extremely talented devs in the
        Grand Rapids area and have been able to gain an amazing amount of knowledge in a short period of
        time.
        My start was mainly picking up subcontracts and primarily using front-end code such as HTML, CSS,
        SCSS,
        JavaScript and, on occasion, AngularJS. Shortly there after, as I began to get a good grasp on what
        I
        was currently working with, I realized something about development, the more I knew the questions I
        had. I needed to know how to do it all and how it all worked. Strictly speaking, that is impossible
        in
        my mind but the adventure and the drive trying to get there is pretty fun. As I dove deeper into the
        server side of things I began interviewing with other companies with the blessing of the boss I was
        currently working for. While interviewing a business owner said something that stuck like glue to
        me.
        He told me that I had experience with a lot of different technologies but I wasn't really deep in
        any
        one thing and that I should do that. So I took that advie and ran with it, a little to much
        according
        to my wife Sarah, and four year old Lucy. I chose to run with AngularJS and .NET and that is where I
        have been since. I will go into more detail and attach descriptions of tech-stacks and methods of
        development on each portfolio page. Feel free to take a stroll through some of the websites I've put
        up so far. At my core, knowing that there is so much out there to learn that I don't know about
        development and so many great people to learn it with along the way makes me feel lucky every single
        day that I get to do this. I love every aspect and could not see myself doing anything else.
    </div>
</div>
